<div class="jumbotron text-center" style="max-width: 960px; margin: 0 auto;">
	
	<h2>Lista de Topicos</h2>
	
	<table class="table table-hover table-striped table-bordered">
	    <thead>
	        <tr>
				<td>
					<a ng-click="sortType = 'titulo'; sortReverse = !sortReverse" class="nounderline_imp">
						Titulo
					    <span ng-show="(sortType == 'titulo' && !sortReverse) || sortType != 'titulo'" class="fa fa-caret-down"></span>
					    <span ng-show="(sortType == 'titulo' && sortReverse)  || sortType != 'titulo'" class="fa fa-caret-up"></span>
					</a>
				</td>
	            <td>
					Mensagem
	            </td>
	            <td>
					Autor
	            </td>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="topic in topics | orderBy:sortType:sortReverse">
	            <td><a href="#topic_details/{{topic.idtopico}}" class="thumb">{{topic.titulo}}</a></td>
	            <td>{{topic.mensagem}}</td>
	            <td>{{topic.autor}}</td>
	        </tr>
	    </tbody>
	</table>
	
	<div class="pull-right">
		<a href="#create_topic_page" class="btn btn-primary">Criar Topico</a>
	</div>

</div>

